certifi==2021.5.30
cycler==0.11.0
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
Pillow==8.4.0
pyparsing==3.0.7
python-dateutil==2.8.2
Rtree==0.9.7
samplerate==0.1.0
scipy==1.5.4
Shapely==1.8.5.post1
simplejson==3.18.4
six==1.16.0
SoundFile==0.10.2
svg.path==6.2
Flask
Flask-Caching
Flask-Compress
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
matplotlib
numpy
pandas
pandas-datareader
plotly
requests
retrying
rsa
scipy
six
smmap
traitlets
tzlocal
urllib3
Werkzeug
wrapt
WTForms
dash
